<%- include("../partials/header"); %>

<main class="container text-center">

    <h1>Login</h1>

    <form action="/login" method="POST">
        <label><input type="text" placeholder="Username" name="username"></label>
        <label><input type="password" placeholder="Password" name="password"></label>
        <button class="btn btn-info" type="submit">Login</button>
    </form>

</main>

<%- include("../partials/footer"); %>